<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <!-- Text content -->
                <div class="about-text">
                    <h4>Doctoral Student in Clinical Psychology at George Washington University - Website in progress</h4>
                    <!-- Add more content as needed -->
                </div>
            </div>
            <div class="col-lg-4">
                <!-- Picture -->
                <img src="img/profile/emily-site-photo.jpg" alt="My Profile Picture" class="img-fluid" style="width: 100%;">
            </div>
        </div>
    </div>
</section>
