<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
                <h3 class="section-subheading text-muted">A little bit about myself</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <!-- Text content -->
                <div class="about-text">
                    <h4>My Story</h4>
                    <p>I have nearly 6 years of applied experience in UXR, Consumer Insights, and Market Research, with both agency and client side experience. Employers and clients include Vevo, T-Mobile, Salesforce, and GAF. My work leans quantitative with a masters in quant methods from Columbia University, but I do also have qualitative experience.  Let’s chat! </p>
                    <!-- Add more content as needed -->
                </div>
            </div>
            <div class="col-lg-4">
                <!-- Picture -->
                <img src="img/profile/emily_photo.jpg" alt="My Profile Picture" class="img-fluid" style="width: 100%;">
            </div>
        </div>
    </div>
</section>
